<div class="row">
    <h1 id="titulog">Galería de Fotos</h1>
</div>

<div id="g" class="galeria">
    <div class="fotos">
    <a href=""><img src="../../../assets/images/bailarina-femenina-joven-hermosa-mujer-bailarina-ballet-vestida-traje-profesional-zapatos-punta-tutu-blanco_183314-13.jpg" alt=""></a>
    <a href=""><img src="../../../assets/images/nino-bailando-hip-hop-ropa-elegante-sobre-fondo-degradado-salon-baile-luz-neon_155003-9262.jpg" alt=""></a>
    <a href=""><img src="../../../assets/images/23926343_1661500030582540_5469621639768249700_o.jpg" alt=""></a>
</div>
</div>