<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/images/logoSD.jpg"
        class="img-fluid" id="fotodeperfil">
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 id="nombre">Sd Studio Dance</h1>
            </div>
            <p id="texto1">
            SD Studio Dance nació en el año 2007 de la mano de las profesoras y docentes Linda y Gisele Silva. Fueron precursoras en la enseñanza de estilos pocos convencionales como el
			Dancehall y el House, como así también de estilos más conocidos como el Hip Hop, el Reggaeton y el Femme Style.
			En el año 2020, dejaron en manos de nuestro Director General, Juan Siniego, y la Directora Asociada Candela Marina, la importante labor de seguir formando bailarines y conservar la esencia de SD que lo hace único.
			Te invitamos a conocer nuestro espacio y todos los profesores que forman parte del Staff SD. 
        </p>
        </span>
    </div>
        
 
</div>
