<div>
    <h1 id="redes">Nuestras Redes </h1>
    <a href=""><img src="../../../assets/images/facebook.png" alt=""></a>
    <a href=""><img src="../../../assets/images/instagram.png" alt=""></a>
    <a href=""><img src="../../../assets/images/png-clipart-telephone-call-logo-whatsapp-logo-computer-icons-whatsapp-cdr-text.png" alt=""></a>
    <a href=""><img src="../../../assets/images/png-clipart-youtube-facebook-inc-computer-icons-music-instagram-youtube-angle-text.png" alt=""></a>
    <a href=""><img src="../../../assets/images/001-mail.svg" alt=""></a>
    <a href=""><img src="../../../assets/images/2071331.svg" alt=""></a>
</div>
