img{
    width: 50px; 
}
div{
    background-color: pink;    
}
app-social{
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}
#redes{
    color: rebeccapurple;
    text-align: center;
}
#logos{
    text-align: center;
}